
body {
    background-color: gray;
    
}

*{
    text-align: center;
}

.container{
   margin:auto;
   display: flex;
   align-items: center;
   justify-content: space-around;

   height: calc(100vh - 100px);
   width: 80vw;
}

.container img{
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(37, 36, 36);
}